
<div class="loginform">
        <mat-grid-list cols="3" rowHeight="230px">
                <mat-grid-tile rowspan="2" style="font-size: 170%">
                                        <div style="padding-left: 35%">
                        <h1>WELCOME TO ADIFLEX</h1>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile> 
                <mat-grid-tile rowspan="2">
                    <div class="logincomponent-Outside">
                        <div class="logincomponent-Inside">   
                            <br>
                            <mat-card-header>
                                <mat-card-title><b>Login</b></mat-card-title>
                            </mat-card-header>
                            <br>
                            <mat-form-field floatLabel="auto" appearance="outline" color="warn">
                                <mat-label>Username</mat-label>
                                        <input matInput required>  
                                        <!-- <mat-hintalign="end">min 5 character</mat-hint>    -->
                            </mat-form-field>
                            <br>
                            <mat-form-field floatLabel="auto" appearance="outline" >
                                <mat-label>Password</mat-label>
                                <input  matInput  placeholder="Password" type="password">
                            </mat-form-field> 
                            <br>
                            <mat-card-actions>
                                    
                            <button mat-raised-button><a href=" http://localhost:4200/sidenavbar">LOGIN</a></button>
                            <br>
                            <p>Not Registered? <a href="#">Create account</a>.</p>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-grid-tile>  
                
            </mat-grid-list> 
</div>