<body>
  <div class="col-sm-12" style="text-align: center;margin-top: 50px;">
      <label for="name" class="control-label"><b>MOULD R AMOUNT</b></label>
      &nbsp;
      <mat-form-field  floatLable="auto" appearance="outline" color="warn">
             
              
        <input matInput  >

          </mat-form-field> 

       
        &nbsp;<button mat-raised-button color="primary" >ADD</button> 
 </div><br><br>
<div>

  <div class="tableC">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="ID" >
                <th mat-header-cell *matHeaderCellDef style="background-color: rgba(161, 112, 226, 0.705);font-size: 20px;color: black"> ID </th>
                <td mat-cell *matCellDef="let element" style="background-color:whitesmoke"> {{element.ID}} </td>
              </ng-container>
            
         
              <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef style="background-color: rgba(161, 112, 226, 0.705);font-size: 20px;color: black">Quantity</th>
                <td mat-cell *matCellDef="let element" style="background-color:whitesmoke"> {{element.Quantity}} </td>
              </ng-container>
      
              <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef style="background-color: rgba(161, 112, 226, 0.705);font-size: 20px;color: black">Amount</th>
              <td mat-cell *matCellDef="let element" style="background-color:whitesmoke"> {{element.Amount}} </td>
              </ng-container>
                  
      
              <ng-container matColumnDef="Total">
              <th mat-header-cell *matHeaderCellDef style="background-color: rgba(161, 112, 226, 0.705);font-size: 20px;color: black">Total</th>
              <td mat-cell *matCellDef="let element" style="background-color:whitesmoke"> {{element.Total}} </td>
              </ng-container>
                          
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                 <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                
            </table>
          </div>
  
      </div>          
</body>        